<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="DDK : Die Datenkrake Hardware analaysis platform" />

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">

    <title>DDK: {{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/ddk/">View on GitHub</a>

          <h1 id="project_title">Die Datenkrake</h1>
          <h2 id="project_tagline">Open-source hardware and software toolchain for hardware security analysis.</h2>

          <section id="downloads">
            <a class="zip_download_link" href="https://github.com/ddk/{{ page.title }}/zipball/master">Download this project as a zip file</a>
            <a class="tar_download_link" href="https://github.com/ddk/{{ page.title }}/tarball/master">Download this project as a tar.gz file</a>
          </section>

        </header>
    </div>
    

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

          <h2>{{ page.title }}</h2>

          <!-- Include Markdown Content -->
          {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">DDK available at <a href="https://github.com/ddk">ddk</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
